.dropdown-parent-container {
  --container-padding: 0.25rem;
  --container-border-radius: 0.25rem;
  width: max-content;
}

.dropdown-label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  border-radius: var(--container-border-radius);
  border: 2px solid lightgray;
  padding: var(--container-padding);
  cursor: pointer;
}

.options-list {
  width: 100%;
  padding: var(--container-padding);
  border-radius: var(--container-border-radius);
  border: 2px solid lightgray;
  background-color: antiquewhite;
  margin-top: 1px;
  list-style: none;
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
}

.options-list > li {
  padding: 2px;
  cursor:pointer;
}
.options-list > li:hover {
  background-color: grey;
}
