.dropdown-parent-container {
  --container-padding: 0.25rem;
  --container-border-radius: 0.25rem;
  width: max-content;
}

.dropdown-label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--blue);
  padding: calc(2 * var(--container-padding));
  cursor: pointer;
}

.options-list {
  display: grid;
  row-gap: 0.5rem;
  width: 100%;
  border-radius: var(--container-border-radius);
  border: 2px solid var(--blue);
  background-color: var(--dark-blue);
  margin-top: 2px;
  list-style: none;
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
  z-index: 10;
}

.options-list > li {
  padding: 2px;
  cursor:pointer;
}
.options-list > li:hover {
  background-color: var(--blue);
}

.arrow-svg {
  fill: var(--blue);
}