label[for="search"] {
  display: block;
  text-align: center;
}
label[for="search"] + input {
  width: 100%;
}

.search-bar {
  max-width: 350px;
  margin: auto;
  border-radius: 0.5rem;
}

#search {
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
}

#results-section {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  display: grid;
  row-gap: 0.5rem;
  padding: 0.5rem;
}

#results-section > * {
  white-space: nowrap;
  overflow: hidden;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

#results-section > *:hover {
  background-color: orange;
}
