.autocomplete-widget-main-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-bar {
  display: flex;
}

.search-bar-result-container {
  position: relative;
}

.search-bar-result-container input {
  height: 100%;
}

.results-section {
  width: 100%;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}
