.main-content-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.navbar-container {
  grid-row: span 2;
}

@media only screen and (max-width: 1000px) {
  .main-content-container {
    grid-template-columns: auto;
  }

}
