.main-navigation {
  --margin-top: 2rem;
  --margin-left: calc(var(--margin-top) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: calc(100vh - 2 * var(--margin-top));
  position: sticky;
  top: var(--margin-top);
  left: 0;
  background-color: var(--dark-blue);
  margin-top: var(--margin-top);
  margin-left: var(--margin-left);
  border-radius: var(--margin-left);
}

.navbar-logo {
  width: 30px;
}

.user-img {
  width: 40px;
}

.active-nav-logo path {
  fill: #fc4747;
}

@media only screen and (max-width: 1000px) {
  .main-navigation {
    height: auto;
    position: static;
    flex-direction: row;
    margin-top: 0;
    margin-left: 0;
    padding: 0.75rem;
    width: 90%;
    margin-inline: auto;
  }
}
