.slider-container {
  display: "flex";
  justify-content: "space-between";
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(175px, 17%, 300px);
  column-gap: 1rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.media-scroller::-webkit-scrollbar {
  display: none;
}

.media-scroller img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.scroll-snapping {
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;
  scroll-padding-right: 1rem;
}

.scroll-snapping > * {
  scroll-snap-align: start;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.slider-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.slider-category-container > h2 {
  font-size: 3rem;
  font-weight: 400;
}

.slider-category-container > span {
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}

.see-more-link {
  color: var(--blue);
  text-decoration: none;
}

.see-more-link:hover {
  text-decoration: underline;
}

.movie-title-slider {
  color: var(--blue);
  text-align: center;
  text-decoration: none;
}

.movie-slider-poster {
  text-decoration: none;
}

.movie-slider-poster:hover p {
  text-decoration: underline;
}

@media only screen and (max-width: 750px) {
  .slider-category-container > h2 {
    font-size: 2rem;
  }

  .slider-category-container > span {
    padding: 0.125rem;
    font-size: 0.75rem;
  }

  .slider-category-container {
    column-gap: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .slider-category-container > h2 {
    /* font-size: 1rem; */
  }
}
